// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin: 20px 0;
}